@using MvcStok.Models.Entity
@model List<tblpersonel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personeller</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>PERSONEL AD</th>
        <th>PERSONEL SOYAD</th>
        <th>DEPARTMAN</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var pers in Model)
    {
        <tr>
            <td>@pers.id</td>
            <td>@pers.ad</td>
            <td>@pers.soyad</td>
            <td>@pers.departman</td>            
            <td><a href="/Personeller/PersonelSil/@pers.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personeller/PersonelGetir/@pers.id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Personeller/YeniPersonel/" class="btn btn-primary">Yeni Personel Ekle</a>